.featured-banner {
  display: flex;
  
  .featured-banner-item {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: auto;
    position: relative;
  }

  .featured-banner-caption {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(0deg, $gs_black, transparent);
    height: 100px;
    align-items: center;
    color: #fff;
    padding: 2.4rem;

    h3 {
      font-size: 2.4rem;
    }
  }
}
